html, body{
	height: 100%;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.primary-text{
	color:#323232;
}
.primary-background{
	background-color: #f8f8f8;
}
.secondary-text{
	color:white;
}
.module{
	background-color: #519872;
	height: 80px;
}

/*HEADER*/
header{
	overflow: auto;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #dcdcdc;
}
header .logo{
	float: left;
}
header .logo img{
	vertical-align: middle;
}
header .text{
  float:left;
  font-size:28px;
  margin-left: 10px;
}
header nav{
	float: right;
	vertical-align: center;
}
/*MAIN*/
.sidebar{
	border-right: 1px solid #dcdcdc;
}
form{
	padding:15px 0;
	border-bottom: 1px solid #dcdcdc;
}
form .btn-default{
	background-color: #f8f8f8;
	border-radius:2px;
}
.nav{
	height:100%;
}
.nav-item{
	border-bottom: 1px solid #dcdcdc;
}
.nav-pills .li a{
	background-color: #f8f8f8;
	text-decoration: none;
}
.nav>li>a{
	display: inline-block;
}
a{
	color:#323232;
}
.content{
	margin: 10px;
}
.module{
	background-color: #519872;
	height: 125px;
	margin:10px;
}
.hidden-xs, .hidden-sm{
	display: none;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
		.xs-border-right{
			border-right: none;
		}
	}